<template name="postSubmit">
  <form class="main form">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'comments'}}">
      <label class="control-label" for="title">Comments</label>
      <div class="controls">
          <input name="comment" id="comment" type="text" value="" placeholder="Write some comments" class="form-control"/>
          <span class="help-block">{{errorMessage 'comment'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>